body{
    width: 100%;
    background-image: url('../img/GregsHouse.jpg');
    background-position: center;
    background-size: cover;
    
}
p {
    font-family: 'Times New Roman', Times, serif;
}
h4 {
    font-family: 'Times New Roman', Times, serif;
}
#first-logo {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
label {
    
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
}
input {
    border-style: solid, black, 2px;
    opacity: 0.5;   
}
input:hover {
    opacity: 1;
}
.sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
    
}
/* The navigation menu links */

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.5rem;
    color: #818181;
    display: block;
    transition: 0.3s;
}
/* When you mouse over the navigation links, change their color */

.sidenav a:hover {
    color: #f1f1f1;
}
/* Position and style the close button (top right corner) */

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.invisible {
    visibility: hidden;
}
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

#main {
    transition: margin-left .5s;
    padding: 20px;
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}
tbody {
    background-color: rgba(255, 81, 0, 0.226);
    background-image: linear-gradient( rgb(58, 55, 52), rgba(218, 145, 112, 0.295));
}
tr {
    opacity: 0.5;
}
tr:hover {
    opacity: 1;
}