body {
    width: 100%;
    background-image: url(../img/GregsHouse.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    }
.display-4 {
    padding-left: 15px;
}
.sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
    border-right: solid orange 1px;
    
}
/*The navigation menu links */

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
p {
    font-family: 'Old Standard TT', serif;
    font-size: 18px;
}
#menu-place {
    font-family: 'Old Standard TT', serif;
    font-size: 28px;
    color: orange;
}
#menu-deal {
    font-family: 'Old Standard TT', serif;
    font-size: 20px;
    color: orange;
}
.sidenav .closebtn {
    width: 50%;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
   
}
.close-btn {
    padding: 10px;
    font-family: 'Old Standard TT', serif;
    font-size: 1rem;
    position: absolute;
    color: white;
    background-color: rgba(0,0,0,0.65);
    border: 2px solid white; 
    bottom: 30%;
    right:40%;
    margin-top: 25px;
}
.close-btn:hover {
    color: black;
    background-color: orange;
}
#submit-button {
    font-weight: 15;
    font-family: 'Old Standard TT', serif;
    background-color: orange;
}
#submit-button:hover {
    color: black;
    background-color:orange;
}

.invisible {
    visibility: hidden;
}
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

#main {
    transition: margin-left .5s;
    padding: 20px;
}

#zip-code {
    border: 1px solid orange;
    color: white;
    background-color: rgba(0, 0, 0, 0.1);
}
input {
    color: white;
    font-family: 'Old Standard TT', serif;
}
/* input:hover {
    background-color: rgba(255, 255, 255, 0.65);
    } */
.container{
    background-color: rgba(0, 0, 0, 0.65);
    border: .8px solid orange;
    padding: 30px;
}
.table{
    background-color: rgba(0, 0, 0, 0.65);
    border: solid orange;
    padding: 75px;
}
#logo {
    font-family: 'Satisfy', cursive;
    font-size: 75px;
    color: orange;
}
#logo2 {
    font-size: 60px;
    font-weight: bold;
}
h5 {
    font-size: 40px;
    font-family: 'Old Standard TT', serif;
}
th {
    font-family: 'Old Standard TT', serif;
    font-size: 22px;
    padding: 5px;
}
.table-row {
    font-size: 17px;
    font-family: 'Old Standard TT', serif;
}
.delete {
    font-family: 'Old Standard TT', serif;
}
@media only screen and (min-width: 992px) {
	.table {
		background-color: rgba(0, 0, 0, 0.65);
	}
  tbody {
    display: block;
    height: 170px;
    overflow-x: auto;
  }
  thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }
}

/* Media Queries */

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}
/* Changes wrapper for feature discovery on small screens */
@media only screen and (max-width: 768px) {
    .tap-target, .tap-target-wrapper {
      height: 95%;
      border-radius: 25%;
    }
  }
@media only screen and (min-width: 1024px) {
    .container {
        max-width: 600px;
    }
}

  /*/* Extra small devices (phones, 600px and down) 
@media only screen and (max-width: 600px) {...} 

/* Small devices (portrait tablets and large phones, 600px and up) 
@media only screen and (min-width: 600px) {...} 

/* Medium devices (landscape tablets, 768px and up) 
@media only screen and (min-width: 768px) {...} 

/* Large devices (laptops/desktops, 992px and up) 
@media only screen and (min-width: 992px) {...} 

/* Extra large devices (large laptops and desktops, 1200px and up) 
@media only screen and (min-width: 1200px) {...}*/